@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-6">
            <img src="https://i.pinimg.com/736x/f6/f6/ae/f6f6aee21c798d3a9b78ec68f93b7759.jpg" style="margin-top: -100px" alt="People Illustration" />
        </div>
        <div class="col-6">
            <p class="display-5 mt-5">Welcome to our Fun Run—an exciting, energetic experience for all! </p>
            <button class="btn btn-primary p-2 mt-4" style="border-radius: 15px; width: 200px">Register Now</button>
        </div>
    </div>
</div>
